
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$palePeach: #fcf6f0;
$gold: #e5c07b;

// Grays
$black: rgba(0, 0, 0, 0.8);
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ccc;
$white: #fff;

// Element colors
$backgroundColor: $palePeach;
$textColor: $black;
$textColorSecondary: rgba(0, 0, 0, 0.4);
$textColorTertiary: rgba(0, 0, 0, 0.25);
$accentColor: $gold;

// Font stacks
$serifFontStack: 'Cardo', 'EB Garamond', serif;
$sansFontStack: 'Inter', 'Karla', Helvetica, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
